
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 90px;  
}

.container {
  width: 100%;
  max-width: 1219px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

.header {
  position: absolute;
  width: 100%;
  height: 90px;
  background: #007765;
  top: 0;
  left: 0;
  z-index: 1000;
  }

.header.fixed {
    height: auto;
    position: fixed;
  }

  .header.fixed .header__inner {

    padding: 10px 0;

  }

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

span {  
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.nav {
  display: flex;
}

.nav__link {
  
  padding-right: 10px;
  color: #fff;
  opacity: .80;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 12px;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:last-child {
  border-right: none;
}

.nav__link:hover {
  text-decoration: underline;
  opacity: 1;
}

.section {
  display: flex;
  height: 403px;
  background: #006400 url("images/01.jpg");
  flex-direction: column;
  justify-content: center;
}

.section__title {  
  font-weight: 500;
  font-size: 72px;
  color: #fff;
  text-align: center;  
}

.section2 {
  background: #EEEEEE;
  height: 719px;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 92px;
}

.container2 {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.section2__title {
  color: #007765;
  text-align: center;
  padding-top: 16px;
  font-weight: 500;
  font-size: 64px;
}

.section2__text {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}

.section3 {
  display: flex;
  background: url("images/02.jpg");
  height: 483px;
  flex-direction: column;
  justify-content: center;
}

.content3__text {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.section4 {
  padding-top: 48px;
  padding-bottom: 92px;
  height: 604px;
}

.section4__title {
  color: #007765;
  text-align: center;
  padding-top: 16px;
  font-weight: 500;
  font-size: 64px;
}


.content4__text {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;  
}

.coin {
  float:left;
  padding-right: 48px;
  padding-top: 32px;
}

.coin-img {
  Width: 115px;
  Height: 115px;  
}

.section5 {
  height: 845px;
  background: #EEEEEE;
}

.section5__title{
  padding-top: 48px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;   
  text-align: center;  
  color: #007765;
}


.section5__team {
  display: flex;
  flex-wrap: wrap;
}


.section5__team {
  padding-left: 146px;
  padding-right: 146px;
  padding-bottom: 122px;
  padding-top: 25px;
  text-align: center;
}

.section5__title1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
  
}

.section5__text {
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
}

.section5__item{
  width: 33.33333%;  
  margin: 41px 0;
}

.footer {
  display: flex;
  height: 176px;
  background: #333333;
  justify-content: center;  
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;  
  padding: 48px 0 0 0;
  width: 540px;
}

.burger{
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 10px 2;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent; 
  position: relative;
  opacity: .80;  
}

.burger__item:hover {
  opacity: 1;
}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: ;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

@media (max-width: 991px) {
  .nav {
    display: none;
}

  .burger{
    display: block;
}

  .section__title {
    font-size: 50px;
  }

  .section2 {
    padding: 0;
    height: 650px;
  }

  .section2__title {
    font-size: 50px;
  }

  .section2__text {
    font-size: 24px;
  }

  .content3__text {
    font-size: 32px;
}

  .section4 {
    padding: 0;
    height: 550px;
  }

  .section4__title {
    font-size: 50px;
  }

  .content4__text {
    font-size: 24px;
  }

  .section5__item {
    width: 50%;
  }

  .section5 {
    height: 1100px;
  }
}

@media (max-width: 850px) {
  .section {
    height: 200px;
}
}

@media (max-width: 767px) {  
  .section2 {    
    height: 500px;
  } 
}

@media (max-width: 430px) {


.section__title {
    font-size: 40px;
  }

.section2 {
  height: 570px;
  padding: 10px;
}
.section2__title {
  font-size: 30px;
}

.section2__text {
  font-size: 16px;
}

.content3__text {
   font-size: 20px;
}

.section4 {
  height: auto;
}

.section4__title {
  font-size: 30px;
}

.coin {
  padding-right: 12px;
  padding-top: 6px;
}

.coin-img {
  width: 70px;
  Height: 70px;  
}

.content4__text{
  font-size: 16px;
}

.section5__title {
  font-size: 30px;
  padding: 0;
}

.section5 {
  height: 1500px;  
}

.section5__item {
  width: 100%;
  margin: 5px;
}

.section5__team {
  padding: 0;
}

.footer__text {
  font-size: 14px;
}

@media (max-width: 320px) {

  .img__logo {
    height: 30px;
    width: 140px;
  }
}

.section__title {
  font-size: 30px;
}

.section2 {
  height: 650px;
}
.section2__title {
  font-size: 20px;
}

.section2__text {
  font-size: 14px;
}

.container {
  padding: 10px;
}

.section4__title {
  font-size: 20px;
}

.section4__text {
  font-size: 14px;
}

.section5__title {
  font-size: 20px;
  
}
.section5__title1 {
  font-size: 20px;
}

.section5__text {
  font-size: 14px;
}